/* Style the navigation bar */
.navbar {
    position: absolute;
    width: 1440px;
    height: 85px;
    left: 0px;
    top: 0px;
    background: rgba(220, 194, 194);
  }

  /* Navbar links */
  .navbar a {
    float: right;
    text-align: center;
    padding: 12px;
    color: black;
    text-decoration: none;
    font-size: 25px;
    margin-top: 15px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: white;
  }
  
  h1 {
    position: absolute;
    width: 485px;
    height: 578px;
    left: 121px;
    top: 176px;
    
    font-family: Cambo;
    font-style: normal;
    font-weight: normal;
    font-size: 144px;
    line-height: 162px;
    
    color: black;
  }

  /* Background Picture*/

   body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5)), url("IMG_8420.jpg");
    background-attachment: fixed;
    background-size: cover;
  } 
